<%# OVERRIDE - remove inline styles on Marketing Text & Share Your Work Button
 HYRAX VERSION 2.9.1 %>
<% if display_content_block? @marketing_text %>
  <div class="home_marketing_text">
    <%= displayable_content_block @marketing_text, role: 'complementary' %>
  </div>
<% end %>