<div class="secondary-footer row text-center">
  <div class="col-md-2 col-xs-4">
    <div class="footer-navlink"><a href="https://github.com/samvera/hyku">NavLink</a></div>
    <div class="footer-navlink"><a href="https://github.com/samvera/hyku">NavLink</a></div>
    <div class="footer-navlink"><a href="https://github.com/samvera/hyku">NavLink</a></div>
  </div>
  <div class="col-md-2 col-xs-4">
    <div class="footer-navlink"><a href="https://github.com/samvera/hyku">NavLink</a></div>
    <div class="footer-navlink"><a href="https://github.com/samvera/hyku">NavLink</a></div>
    <div class="footer-navlink"><a href="https://github.com/samvera/hyku">NavLink</a></div>
  </div>
  <div class="col-md-2">
    <div class="footer-navlink"><a href="https://github.com/samvera/hyku">NavLink</a></div>
    <div class="footer-navlink"><a href="https://github.com/samvera/hyku">NavLink</a></div>
    <div class="footer-navlink"><a href="https://github.com/samvera/hyku">NavLink</a></div>
  </div>
  <div class="col-md-6">
    <div class="footer-logo center-block">
      <img class= "logo-img" src="https://i.ibb.co/pf4YQ6D/ADL-Logo.png" alt="Adventist Digital Library Logo" border="0">
    </div>
  </div>
<div>