<%# OVERRIDE HYRAX VERSION 2.9.1 %>

<% provide :page_title, application_name %>

<%# OVERRIDE remove share work button and add custom partials  %>

<div class="home-content">
  <%= render '/adl/about_section' %>
  <%# this conditional hides featured collections in non-adl tenants. fill in your tenant's name, and switch the comments on the following 2 lines to see this section in the development environment %>
  <%# if current_account.name == "<YOUR TENANT NAME HERE>" %>
  <% if current_account.name == "adl" %>
    <%= render '/adl/featured_collections' %>
  <% end %>
  <%= render '/adl/featured_works' %>
</div>

<%= render '/shared/select_work_type_modal', create_work_presenter: @presenter.create_work_presenter if @presenter.draw_select_work_modal? %>
