  <div class="secondary-footer row text-center">
  <div class="col-md-2 col-xs-4">
    <div class="footer-navlink"><a href="https://github.com/samvera/hyku">NavLink</a></div>
    <div class="footer-navlink"><a href="https://github.com/samvera/hyku">NavLink</a></div>
    <div class="footer-navlink"><a href="https://github.com/samvera/hyku">NavLink</a></div>
  </div>
  <div class="col-md-2 col-xs-4">
    <div class="footer-navlink"><a href="https://github.com/samvera/hyku">NavLink</a></div>
    <div class="footer-navlink"><a href="https://github.com/samvera/hyku">NavLink</a></div>
    <div class="footer-navlink"><a href="https://github.com/samvera/hyku">NavLink</a></div>
  </div>
  <div class="col-md-2">
    <div class="footer-navlink"><a href="https://github.com/samvera/hyku">NavLink</a></div>
    <div class="footer-navlink"><a href="https://github.com/samvera/hyku">NavLink</a></div>
    <div class="footer-navlink"><a href="https://github.com/samvera/hyku">NavLink</a></div>
  </div>
  <div class="col-md-6">
    <div class="footer-logo center-block">
      <img class= "logo-img" src="https://i.ibb.co/pf4YQ6D/ADL-Logo.png" alt="Adventist Digital Library Logo" border="0">
    </div>
  </div>
</div>
<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <div class="navbar-text text-left">
         <p class="terms-of-use"><%= link_to t(:'hyrax.pages.tabs.terms_page'), hyrax.terms_path %></p>
    </div>
    <div class="navbar-right">
      <div class="navbar-text text-right">
        <p><b>© Adventist Digital Library, 2021</b></p>
        <% if admin_host? && !user_signed_in? %>
          <p><%= link_to t('hyku.footer.admin_login', default: [:'hyrax.toolbar.profile.login']), main_app.new_user_session_path %></p>
        <% end %>
      </div>
    </div>
  </div>
</footer>
