@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

$primary-font-family: "Nobile", sans-serif;

$jumbotron-heading-font-size: 2.5em;
$jumbotron-heading-color: #30373b;
$jumbotron-sub-heading-color: #444;
$jumbotron-button-background-color: #7ab55c;

$features-section-background-color: #f4f4f4;
$features-section-border-color: #ddd;


// BRAND COLORS
$white: #ffffff;
$lightgrey: #F5F5F6;
$mediumgrey: #5b5b5b;
$darkgrey: #2C2C2C;
$black: #000000;
$lightyellow: #FFBD42;
$mediumyellow: #CE8C00;
$darkyellow: #985F03;

