<%#>OVERRIDE NAV CONTROLS TO ADD TEXT ABOVE HYRAX - VERSION 2.9.1<%> 

<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid row">
    <div class="col-sm-6">
      <h6 class="custom-nav-text">Explore our growing collection of Adventist resources</h6>
    </div>
<%# OVERRIDE here to remove the nav links from the controls/search bar%>
    <div class="searchbar-right navbar-right col-sm-6">
      <%= render partial: 'catalog/search_form' %>
    </div>
  </div>
</nav><!-- /.navbar -->