body.public-facing {

  /* prevents footer from covering bottom of page */
  #content-wrapper {
    margin-bottom: 320px;
    @media (max-width: $md-max) {
      margin-bottom: 350px;
    }
  }

  .navbar.navbar-inverse.site-footer {
    font-weight: 600;
    font-size: smaller;
    background: linear-gradient($lightgrey, $mediumyellow);
    border: none;
    padding: inherit;
    height: auto;
    right: 0;
    left: 0;
    .navbar-text {
      margin: 0;
    }
  }

  //SECONDARY FOOTER

  .secondary-footer {
      min-height: 200px;
      background-color: $lightgrey;
      padding: 40px 10px;
      position: absolute;
      bottom: 37px;
      display: block;
      width: 100%;
      right: 0;
      left: 0;
      @media (max-width: $lg-max) {
            bottom: 70px;
      }
      .footer-row {
        @media (max-width: $sm-max) {
          flex-direction: column;
        }
      }
      .footer-link-col {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        @media (max-width: $sm-max) {
          order: 1;
        }
      }
      .footer-logo {
        height: 120px;
        overflow: hidden;
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
          @media (min-width: $md-min) {
                object-position: right;
          }
        }
      }
      .footer-navlink {
        margin-top: 20px;
      }
    }

  @media (max-width: $sm-max) {
    body {
        margin-bottom: 145px;
    }
  }
}