  /* Image Masthead and Search Section */

  .image-masthead.custom-masthead {
    margin-top: -150px;
    border-bottom: none !important;
    min-height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;

    .search-banner-wrapper {
      background-color: $transparentwhite;
      width: 70%;
      border-radius: 5px;

      .banner-text {
        font-size: 30px;
        font-weight: 600;
        line-height: 1.2;
      }

      .home-share-work .btn-primary {
        position: relative;
      }

      .btn.masthead-search-button {
        border: 0;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 12px;
        text-transform: uppercase;
        color: $mediumgrey;
        padding: 10px 12px;
        background-color: $lightgrey;
        text-decoration: none;
        &:hover {
          background-color: $transparentwhite;
        }
      }

      #search-field-header {
        background-color: $white;
        border: 0;
        border-right: 1px solid $lightgrey2;
        letter-spacing: 1px;
        font-weight: 500;
        height: 38px;
        text-transform: uppercase;
      }

      #search-form-header {
        margin-top: 0;
        .input-group {
          border: 1px solid $lightgrey2;
          margin-right: auto;
          margin-left: auto;
          border-radius: 4px;
          margin-bottom: 0;
          max-width: 700px;
        }
      }
    }

    .navbar .active > a,
    .navbar .active > a:hover,
    .navbar .active > a:focus {
      background-color: $white !important;
    }
  
    .navbar .navbar-nav a {
      color: $black;
      text-transform: none;
    }
  }

  .navbar-static-top {
    border: 0 !important;
  }