body.public-facing {
  // MAIN NAV

  #masthead {
    &.navbar.navbar-inverse.navbar-static-top {
      background: linear-gradient(rgb(206, 140, 0), rgb(255, 255, 255), $transparentwhite, rgba(255, 255, 255, 0));
      height: 150px;
      display: flex;
      width: 100%;
      margin-bottom: 0;

      .nav-container {
        padding-right: 0;
        padding-left: 0;
        width: 100%;
        display: flex;
        @media (max-width: $lg-max) {
          flex-wrap: wrap;
        }
      }

      .navbar-nav {
        li {
          transition: .2s ease-in-out;
          a {
            border-bottom: 1px solid transparent;
            &:hover {
                border-bottom: 1px solid $darkgrey;
              }
          }
        }
        .navbar-link,
        li > a,
        .navbar-text,
        .navbar-brand {
          color: $darkgrey;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 600;
          font-size: 15px;
          transition: .2s ease-in-out;
          text-decoration: none;
          border-bottom: 1px solid transparent;
          &:hover {
            color: $mediumgrey;
            background-color: transparent;
          }
        }
        .active {
          a, a:hover, a:focus {
            background-color: transparent;
            border-bottom: 1px solid $darkgrey;
          }
        }
        .open {
          a, a:hover, a:focus {
            background-color: $white;
            border-bottom: 1px solid $darkgrey;
          }
        }
      }

      #logo {
        align-self: center;
        img {
          padding: 10px;
          max-height: 104px;
        }
      }
    
      @media (max-width: 553px) {
        #logo img {
          max-width: 75%;
        }
      }
      
      .dropdown-menu {
        background-color: $white;
      }
    }

    .navbar-header {
      display: flex;
      width: 100%;
    }

    @media (min-width: $lg-min) {
      #top-navbar-collapse {
        align-items: center;
        justify-content: flex-end;
        display: flex !important;
        flex: 2
      }
      .navbar-header {
        flex: 1;
      }
    }
    
    // MOBILE NAV

    .navbar-toggle, .facets-toggle {
      align-self: center;
      border: 0;
      background-color:transparent;
      .icon-bar {
        background-color: $darkgrey;
      }
    }


    // MOBILE OPEN MENU 
    @media (max-width: $lg-max) {
      ul#user_utility_links {
        padding: 0;
        margin: 0;
        padding-top: 0;
        background-color: $white;
      }
    
      #top-navbar-collapse {
        padding: 0;
        margin: 0;
        border: 0;
        width: 100%;
      }
    
      .nav > li {
        text-align: center;
      }
    
      .nav > li:hover {
        background-color: $lightgrey;
      }
    }
  }
}

  
