<div class="viewer-wrapper">
  <iframe id="pdf-viewer" aria-label="image view"
    src="<%= pdf_js_url(hyrax.download_path(file_set_presenter.id)) %>"
    allowfullscreen="true"
    frameborder="0"
  ></iframe>
</div>
